.container {
  width: 100%;
  height: 100%;
  background-color: bisque;
  text-align: center;
  display: flex;
}
.container .card {
  width: 50%;
  height: 50%;
  padding: 10px;
  margin: 10%;
  text-align: left;
}
.form-group {
  margin: 10px 0;
  padding: 10px;
}
